<h3>Leaders</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Specialty</th>
  </tr>

<% @leaders.each do |leader| %>
  <tr>
    <td><%= link_to leader.name, leader_path(leader) %></td>
    <td>  <% unless leader.group.nil? %> 
        <%= link_to leader.group.name, group_path(leader.group) %>
        <% end %>
    </td>
    <td><%= leader.specialty %></td>
  </tr>
<% end %>

<% if @leaders.empty? %>
    <tr>
        <td colspan = "3">
            No leaders
        </td>
    </tr>
<% end %>

</table>
