        <ul class="nav nav-list">
          <li class="nav-header">YTD</li>
          <li><%= link_to 'Create Meal', new_meal_path %></li>
          <li><%= link_to 'View This Week', yummy_tummy_day_orders_path %></li>
        </ul>