<h3>The Yummy Tummy Day System</h3>


First, you need to input all of the Yummy Tummy Day meals with the button below.  Note, you need to do separate entries for different food items (ie one for ham and one for turkey subway sandwhiches).
<br>
<%= link_to 'YTD Meals', meals_path, :class => 'btn btn-info' %>
<br>