        <ul class="nav nav-list">
          <li class="nav-header">Manoa SummerFun</li>
          <li><%= link_to 'Create Participant', new_participant_path %></li>
          <li><%= link_to 'Create Child', new_participant_path %></li>
          <li><%= link_to 'Create Junior Leader', new_participant_path %></li>
        </ul>