<h3> Manoa Summer Fun Participants</h3>

<h4> Children </h4>

        <div id="table_display">
          <%= render :partial => 'table_show', :locals => {:participants => @children} %>
        </div>

<h4> Junior Leaders </h4>

        <div id="table_display">
          <%= render :partial => 'table_show', :locals => {:participants => @juniors} %>
        </div>
