		            

        <ul class="nav nav-list">
          <li class="nav-header">Manoa SummerFun</li>
          <li><%= link_to 'Groups', groups_path %></li>
          <li><%= link_to 'Children', children_path %></li>
          <li><%=link_to 'Junior Leaders', junior_leaders_path%></li>
          <li><%=link_to 'YTD', yummy_tummy_day_orders_path%></li>
          <li>Calendar (coming soon)</li>
          <li>Search (coming soon)</li>
        </ul>