		            

        <ul class="nav nav-list">
          <li class="nav-header">Manoa SummerFun</li>
          <li><a href="#">Search Participants</a></li>
          <li><%= link_to 'Groups', groups_path %></li>
          <li><a href="#">Children</a></li>
          <li><a href="#">Junior Leaders</a></li>
          <li><a href="#">YTD</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>