<h3>Manoa Summer Fun</h3>
<p>wat up. To start, make groups and YTD meals. And leaders too.  Then after you can register kids and JrL into the system.</p>

<div class="row">
	search thing <br>
	link_to "Create New Child", new_particpant_path<br>
	link_to "Create New JRL", new_particpant_path<br>
</div>
